# Los user y puertos por default son root y 3306
DATABASE_URL="mysql://user:contraseña@localhost:puerto/electroservice"

# Puerto en el que corre la app. Ej: 3333. Puede ser cualquier numero, mientras no esté ocupado.
PORT=3333

# "Secreto" para JWT. Un código que definirá el cifrado de información sensible. Lo usaremos para cifrar datos de inicio de sesión.
# Puede ser un string cuaquiera. Mientras más complejo, más seguro.
SECRET="secreto"

NODE_ENV="development" # Si lo cambiamos a 'production', afectara a cuestiones como el JWT

FRONTEND_URL_DEV="http://localhost:4200" 

# Variables nodemailer y mailtrap
SMTP_HOST="sandbox.smtp.mailtrap.io"
SMTP_PORT="2525"
EMAIL_FROM="no-reply@electroservi.com"
SMTP_USER=""
SMTP_PASS=""